{#=====================================================
  Chore List
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Chores</h2>

    <section id="chores">

        {% for chore in chores %}

            <div class="chore">

                <header>
                    <h3>{{ "📌" if chore.pinned }} {{ chore.title }}</h3>
                </header>

                <p>Body: {{chore.body}}</p>
                <p>Due Time (Mins): {{chore.due_time}}</p>
                <p>Points: {{chore.points}}</p>

            </div>

        {% else %}

            <p>No Chores!</p>

        {% endfor %}

    </section>

{% endblock %}

