{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Home Page</h2>
    <h3>Logged In!</h3>

    <section id="logged_in_home_page"> 

      <header>
          <p>Hello {{ session.user.username }}</p>
      </header>

      <p></p>


    </section>

{% endblock %}

