{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Login</h2>

    <form method="post" action="/login">
        <label>
            Username
            <input name="username" type="text" required>
        </label>

        <label>
            Password
            <input name="password" type="password" required>
        </label>

        <button>Login</button>
    </form>

{% endblock %}

