{#=====================================================
  Chore List
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Chores</h2>

    <section id="chores">

        {% for chore in chores %}

            <div class="chore">

                <header>
                    <h3>{{ chore.title }}</h3>
                    {{ "📌" if chore.pinned }}
                </header>

            </div>

        {% else %}

            <p>No Chores!</p>

        {% endfor %}

    </section>

{% endblock %}

